/* &display=swap&subset=cyrillic-ext */

@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px;
}
body {
	font-family: "Roboto", sans-serif;
	line-height: 1;
	/* overflow-x: hidden; */
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* ------------------------ */

[class*="__container"] {
	max-width: 1050px;
	margin: 0px auto;
	padding: 0px 15px;
}
.main {
	flex-grow: 1;
}

.header {
	background: url("../img/header/background/bg_image.png") 50% / cover no-repeat;
	padding: 26px 0px 250px 0px;
}
.header__container {
}
.header__info {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
}
@media (max-width: 1050px) {
	[class*="__container"] {
		max-width: 970px;
	}
}

@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
}
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}
	.header {
		padding: 26px 0px 150px 0px;
	}
}

.header__info:not(:last-child) {
	margin-bottom: 28px;
}

.header__logo {
}
.logo {
	display: flex;
	column-gap: 11px;
	align-items: center;
}
.logo__img {
	align-self: flex-start;
	flex: 0 0 40px;
	height: 41px;
}
.logo__name {
	cursor: pointer;
	flex: 0 1 auto;
	max-width: 200px;
}
.logo__link {
	color: #fff;
	font-size: 24px;
	font-weight: 900;
	letter-spacing: 0.75px;
	text-transform: lowercase;
}
.header__content {
	display: flex;
	gap: 20px 30px;
	flex-wrap: wrap;
	align-items: flex-start;
}
.header__boarding-hours {
}
.item-header {
	display: flex;
	column-gap: 10px;
	align-items: flex-start;
}
.item-header__icon {
	flex: 0 0 24px;
	height: 24px;
}
.item-header__img {
	width: 100%;
}
.item-header__body {
	flex: 0 1 auto;
	font-weight: 700;
	font-size: 12px;
	line-height: 1.63;
	letter-spacing: 0.15px;
	color: #ffffff;
}
.item-header__title {
	text-transform: uppercase;
}
.item-header__text {
}
.header__call-us {
}
.header__button {
}
.button {
	max-width: 215px;
	cursor: pointer;
	font-weight: bold;
	font-size: 12px;
	line-height: 2;
	text-align: center;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	background: #f2726f;
	border-radius: 8px;
	padding: 8px 34px;
}

.button__link {
	color: #ffffff;
}

.header__navigation {
	background: #ffffff;
	border-radius: 10px;
}
.header__menu {
}
.menu {
	padding: 10px 48px 10px 40px;
}
.menu__body {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
}
.menu__list {
	display: flex;
	align-items: center;
	gap: 10px 37px;
	flex-wrap: wrap;
}
.menu__item {
	flex: 0 1 auto;
	cursor: pointer;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.57;
	text-align: center;
	letter-spacing: 0.15px;
	max-width: 100px;
}
.menu__item_decor {
	position: relative;
}
.menu__item_decor:not(:last-child) {
	margin-right: 16px;
}

.menu__item_decor::after {
	content: "";
	background: url("../img/header/icons/expand_more_24px.svg") 0px 4px no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0;
	right: -16px;
}
.menu__link {
	color: #000000;
}
.menu__search {
	display: flex;
}
.menu__icon {
	flex: 0 0 24px;
	height: 24px;
}
.menu__icon:not(:last-child) {
	margin-right: 22px;
}

.menu__image {
	max-width: 100%;
}
.menu__icon_number {
	position: relative;
}
.menu__icon_number::before {
	content: "";
	background: url("../img/header/icons/2.svg") 0 0 no-repeat;
	transform: translate(13px, -3px);
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}
.menu__icon_number::after {
	content: "";
	background-color: #f2726f;
	border-radius: 50%;
	transform: translate(50%, -6px);
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0;
	right: 0;
}
@media (max-width: 426px) {
	[class*="__container"] {
		max-width: none;
	}
	.menu {
		padding: 10px 30px 10px 30px;
	}
	.button {
		flex: 1 0 auto;
		max-width: none;
	}
	.menu__body {
		display: flex;
		flex-direction: column;
			}
	.menu__list {
		display: flex;
		row-gap: 15px;
		justify-content: space-evenly;
		align-items: center;
	}
	.menu__item {
		font-size: 22px;
	}
	.menu__search {
		display: flex;
		justify-content: space-evenly;
	}
	.menu__icon:not(:last-child) {
		margin-right: 0px;
	}
}
.main {
	background-color: #f5f5f5;
}

.main__who-we-are {
}
.main__who-we-are:not(:last-child) {
	margin-bottom: 200px;
}

.who-we-are {
}

.who-we-are__container {
	position: relative;
	color: #ffffff;
	background: #5d62b5 url("../img/who-we-are/decor/decor.png") -18px 256px no-repeat;
	border-radius: 40px;
	margin-top: -80px;
	padding: 100px 87px 0px 87px;
}

.who-we-are__container::after {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transform: translate(76px, -109px);
	content: "";
	background: url("../img/who-we-are/decor/stylize_circles.svg") 100% 0 no-repeat;
}
.who-we-are__header {
}
.who-we-are__header:not(:last-child) {
	margin-bottom: 36px;
}

.title {
	max-width: 583px;
}
.title__sub-title {
	background: url("../img/who-we-are/icons/overline_mark.svg") 0 -1px no-repeat;
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	padding: 0px 0px 0px 33px;
}
.title__sub-title:not(:last-child) {
	margin-bottom: 33px;
}

.title__main-title {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.16;
}
.who-we-are__text {
	line-height: 1.5;
	letter-spacing: 0.15px;
}
.who-we-are__text:not(:last-child) {
	margin-bottom: 58px;
}

.who-we-are__image {
}
.who-we-are__img {
	width: 100%;
	border-radius: 40px;
	filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
	margin: 0px 0px -14.18% 0px;
}
@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
	.who-we-are__container {
		padding: 70px 55px 0px 55px;
	}
	.main__who-we-are:not(:last-child) {
		margin-bottom: 160px;
	}
}
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}
	.who-we-are__container {
		padding: 50px 45px 0px 45px;
		background: #5d62b5;
	}
	.who-we-are__container::after {
		display: none;
	}
	.main__who-we-are:not(:last-child) {
		margin-bottom: 140px;
	}
	.title__sub-title:not(:last-child) {
		margin-bottom: 23px;
	}
	.who-we-are__header:not(:last-child) {
		margin-bottom: 26px;
	}
	.who-we-are__text:not(:last-child) {
		margin-bottom: 38px;
	}
	.main__who-we-are:not(:last-child) {
		margin-bottom: 110px;
	}
}
@media (max-width: 426px) {
	[class*="__container"] {
		max-width: none;
	}
	.who-we-are__container {
		padding: 45px 35px 0px 35px;
	}
}
.main__some-block {
}
.some-block {
	background: url("../img/some-block/background/pup.png") 15% 34px no-repeat,
		url("../img/some-block/background/decor.png") 0 0 no-repeat,
		#29c3be url("../img/some-block/background/circles.png") -40px 122px no-repeat;
}

.some-block__container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 112px 0px 169px 0px;
	position: relative;
}
.some-block__container::before {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 132px;
	content: "";
	background: url("../img/some-block/background/ball.png") 100% 114px no-repeat;
	z-index: 2;
}

.some-block__container::after {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 70px;
	content: "";
	background: url("../img/some-block/background/line.png") 100% -12px no-repeat;
}
.some-block__content {
	display: flex;
	flex-direction: column;
	row-gap: 42px;
	position: relative;
	z-index: 2;
}

.some-block__title {
}
.title__main-title {
}
.title__main-title_width-color {
	max-width: 411px;
	color: #fff;
}
.some-block__button {
	position: relative;
	z-index: 2;
}
@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
	.some-block__container::before,
	.some-block__container::after {
		display: none;
	}
}
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}
	.some-block__container {
		padding: 62px 10px 89px 10px;
		align-items: center;
	}
	.some-block {
		background: #29c3be url("../img/some-block/background/decor.png") 0 0 no-repeat;
	}
}
@media (max-width: 426px) {
	[class*="__container"] {
		max-width: none;
	}
	.some-block__container {
		padding: 52px 10px 70px 10px;
	}
}
.footer{
	font-size: 30px;
	padding: 50px 0px;
	text-align: center;
	font-weight: 700;
}